<mat-toolbar>
  <mat-sidenav-container class="sidenav-container">
    <mat-sidenav #sidenav mode="side" opened class="sidenav">
      <li>
        <ul><a [title]="" [routerLink]="['']">Home</a></ul>
        <ul><a [title]="" [routerLink]="['search']">Search</a></ul>
        <ul><a [title]="" [routerLink]="['manageStoreDetails']">Manage store</a></ul>
        <ul><a [title]="" [routerLink]="['profile']">Profile</a></ul>
      </li>
    </mat-sidenav>
  </mat-sidenav-container>

  <button mat-icon-button class="hamburger-icon" aria-label="menu icon" (click)="sidenav.toggle()">
    <mat-icon>menu</mat-icon>
  </button>
  <span>Fishfood</span>
  <span class="spacer">
  </span>
  <button mat-button color="primary">Location, zipcode</button> <!-- Get real location on button press?-->
</mat-toolbar>
