.spacer {
  flex: 1 1 auto;
}

.sidenav-container {
  position: absolute;
  top: 60px;
  bottom: 60px;
  left: 0;
  color: blue;
}

.sidenav {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 200px;
  background: #a1a4be;
}

.sidenav a{
  color:white;
  text-decoration: none;
}

.font-colour{
  color: white;
}

.topbar-colour{
  color: rgb(240, 246, 247);
  background: #7270f5;
}
