<form class="store-form" (submit)="sendUpdate()">
  <mat-slide-toggle (click)="enable()">Edit mode</mat-slide-toggle>
  <label></label><br>
  <mat-form-field class="example-full-width" appearance="fill">
    <mat-label>Your name</mat-label>
    <input [disabled]="disableForm" matInput placeholder="Ex. James Johnson" [value]="user.realName"> <!--Value will be extracted-->
  </mat-form-field>
  <mat-form-field class="example-full-width" appearance="fill">
    <mat-label>Store name</mat-label>
    <input [disabled]="disableForm" matInput placeholder="Ex. Adrian Nelayan" [value]='user.username'><!-- Value will be extracted-->
  </mat-form-field>
  <mat-form-field class="example-full-width" appearance="fill">
    <mat-label>Store description</mat-label>
    <textarea [disabled]="disableForm" matInput placeholder="Ex. We provide fresh fish from Asajaya" [value]='user.password'></textarea> <!-- value will be extracted-->
  </mat-form-field><br>
  <button class="update-button" type="submit">Update</button>
</form>
