.example-full-width {
    max-width: 50%;
    margin-left: 30%;
    margin-bottom: 5%;
  }

.update-button {
    width: auto;
    max-width: 50%;
    margin-left: 30%;
    margin-bottom: 5%;
    background-color:#00ffff
}