
<div class="main-details-container">
  <img /> <!-- get image for product, then  -->

  <div>
    <h3 class="store-name">{{ store.businessname }}</h3>
    <!--<h4> By {{ store.businessname }}</h4>-->
    <div class="row">
      <h4 class="info1">{{ store.avgprice | currency }}</h4>
      <h4 class="info2"> Distance: <b>1km</b></h4> <!--Will be retrieved from backend by our position - store position -->
    </div>
    <p class="info2">{{ store.description }}</p>
    <div class="offering-container">
      <h2>Offering</h2>
      <div class="offercontainer" *ngFor="let product of store.products">
        <div class="offerCard">
          <h4>{{product.name }}</h4>
          <div class="row-offercard">
            <p>{{product.category}}</p>
            <p>{{product.pricePerKilo}}RM/kg</p>
          </div>
          <button type="button" (click)="removeProduct(product)">-</button><p [id]="product.oId"></p>
          <button type="button" (click)="addProduct(product)">+</button><p [id]="product.oId"></p>

        </div>
      </div>
    </div>
  </div>
  <div class="reservation">
    <button type="button">Reserve</button>
  </div>
</div>
