.main-details-container{
  width: max-width;
}

.offercontainer{
  display: inline-block;
  border: solid gainsboro 1px;
  padding: 5% 25px 5% 10px;
  margin-right: 10px;
}

.row-offercard{
  display: inline;
}

.reservation{
  padding-top: 5%;
}
