<div>
  <h2>Fresh fish specialists</h2>
  <section>
    <div class="wrapper">
      <div class="card-section-row" *ngFor="let store of business">
        <mat-card class="card">
          <a [title]="store.businessname + ' details'" [routerLink]="['/stores', store.id]">
            <img mat-card-image src="https://material.angular.io/assets/img/examples/shiba2.jpg" alt="Photo of a Shiba Inu">
          </a>
          <mat-card-header>
            <div mat-card-avatar class="example-header-image"></div>
            <mat-card-title>{{store.businessname}}</mat-card-title>
            <mat-card-subtitle>{{store.description}}</mat-card-subtitle>
          </mat-card-header>
          <mat-card-content>
            <a href="#" class="small-box-footer">More info</a>
          </mat-card-content>
          <mat-card-actions>
          </mat-card-actions>
        </mat-card>
      </div>
    </div>
  </section>
</div>

<div>
  <h2>Shellfish experts</h2>
</div>

<div>
  <h2>Favorites</h2>
</div>
