.card {
  position: relative;
  max-width: 250px;
  margin-left: 5%;
  margin-bottom: 5%;
  background: #28acf8;
}

.example-header-image {
  background-image: url('https://material.angular.io/assets/img/examples/shiba1.jpg');
  background-size: cover;
}

.wrapper {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  gap: 30px;
  
}
.font{
  color: white;
  font-size: 15px;
}

